body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(111, 67, 136);
}

.menu {
    background-color: rgba(70, 4, 132, 0.708);
    color: antiquewhite;
    padding: 1px 0px;
    text-align: left;
}

.menu nav {
    text-align: right;
}

.foto {
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav ul li a {
    list-style-type: none;
    text-align: left;
}

nav ul li {
    display: inline;
    margin: 0px 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
h4{
    font-style: oblique;
}
p{
    font-style: italic;
}
form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 16px 32px;
    background-color: #2e0d2b;
    color: white;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    border-radius: 30px;
    
}

form button:hover {
    background-color: #cf0cd2;
    border: 1px solid #2e0d2b;
}